body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(rgb(155, 96, 176), rgb(84, 53, 199));
  }
  
li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #04AA6D;
}

.trailer {
    width: 100%; /* Container takes full width of its parent */
}

.trailer video {
    width: 100%; /* Video takes full width of the container */
    height: 400px; /* Fixed height for the video */
    object-fit: cover; /* Ensures video covers the width without distortion */
}

.poster {
    width: 200px;
    height: 300px;
}

.popular-card {
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    padding: 10px;
}

.movie-card{
    background-color: rgb(36, 35, 36);
    height: 410px;
    width: 200px;
    border-radius: 10px;
    justify-content: center;
    /*Spaces the cards out horizontally*/
    margin: 0 10px;

}

.movie-card img{
    width: 200px;
    height: 300px;
    top: 2px;
}

.movie-card a {
    color: white;
    text-decoration: none;
}

.movie-card h3, .movie-card h4{
    color: white;
    /*justify-content: center;*/
    margin-left: 10px;
}

h1{
    color: white;
}

h3{
    color: white;
}

footer{
    color:rgb(189, 189, 189)
}

.slideshow-container {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
  }
  
.slideshow-container img {
    width: auto; /* Adjust based on your image sizes */
    height: 300px; /* Adjust based on your image sizes */
    flex-shrink: 0; /* Prevents images from shrinking */
}